/*************/
/* CSS RESET */
/*************/
/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing: border-box;  
}

button:not([disabled]) {
  cursor: pointer;
}

/* Answer from https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen */
html {
  height: 100vh;
}

/* html, body {
  margin: 0;
  height: 100%;
} */





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-heading1:black;
  --color-background: rgb(255, 201, 216);
  --color-egg: rgb(230 230 230);
  --color-egg-shadow: rgb(0 0 0 / .2);
  --color-egg-highlight: rgb(255 255 255 / .3);
  --color-eggspots: var(--color-green);
  --color-button: rgb(23 171 23);
  --color-button-hover: rgb(21 116 21);;

  --color-green: rgb(23 171 23);
  --color-white: #fff;
  --color-yellow: rgb(232 232 39);
  --color-pink: rgb(255 141 189);
  --color-lightblue: rgb(70 172 255);
  --color-orange: rgb(255 182 109);
  --color-red: rgb(255 70 70);
  --color-black: rgb(59 59 59);
  --color-blue: rgb(74 72 219);
  --color-brown: rgb(129 83 23);
  --color-purple: rgb(217 93 242);


  /* Index of list items */
  --index: 0;
  /* Position of carousel */
  --position: 0;
}





/********************/
/* ALGEMENE STYLING */
/********************/

body {
  margin:0;
  background-color: var(--color-background);

  width: 100vmax;
  height: 100vh;

  display: grid;
  place-content: center;

  overflow: hidden;
}

header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 12em;
}

header section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

header section h2 {
  font-size: 4em;
}

header section button {
  margin: .5em;
  padding: 0.3em;
  width: 2em;
  height: 2em;

  font-size: 6em;
  text-align: center;

  background-color: var(--color-button);
  color: var(--color-white);
  border: unset;
  border-radius: 50%;

  transition: .25s;
}

header section button:hover {
  background-color: var(--color-button-hover);
  transform: scale(1.05);
}

main {
  display: grid;
  place-items: start center;

}

h1 {
  color: var(--color-heading1);
  font-family: puffin-arcade-nerf, sans-serif;
  text-align: center;
  font-size: 5em;
  letter-spacing: .2em;
  padding-bottom: 1em;
}

h2 {
  color: var(--color-eggspots)
}

h2,
li,
button,
p {
  font-family: mundial, sans-serif;
}

ol {
  display: grid;
  padding: 0;
  /* margin: 6em 0 0 0; */
  /* transform: scale(2); */
  width: 10em;
  /* display: flex; */
  list-style: none;

  position: absolute;
  /* order: 2; */

  /* transform: translateZ(-10em); */
  transform-style: preserve-3d;
  perspective:20em;
	perspective-origin:center -3em;
  /* width: 100vw;
  height: 100vh; */
  /* transition: .5s; */
}

ol li {
  position: absolute;
  width: 12em;
  height: 16em;
  left: 1em;
  top: 1em;

  grid-column-start:1;
	grid-row-start:1;

  /* Place li item towards center and back on circle axis */
  transform:
			translatez(-30em)
			rotatey(calc(36deg * var(--position)  + 360deg / 10 * var(--index)))
			translatez(30em)
			rotatey(calc(-36deg * var(--position) + -360deg / 10 * var(--index)));

  transition: .5s;
}

ol li:nth-of-type(1) { --index: 0;}
ol li:nth-of-type(2) { --index: 1;}
ol li:nth-of-type(3) { --index: 2;}
ol li:nth-of-type(4) { --index: 3;}
ol li:nth-of-type(5) { --index: 4;}
ol li:nth-of-type(6) { --index: 5;}
ol li:nth-of-type(7) { --index: 6;}
ol li:nth-of-type(8) { --index: 7;}
ol li:nth-of-type(9) { --index: 8;}
ol li:nth-of-type(10) { --index: 9;}

ol li button {
  width: 10em;
  aspect-ratio: 1/1.4;
  position: relative;

  display: grid;
  place-items: center;

  border: unset;
  background-color: transparent;

}

/* Change egg colors */
ol li:nth-of-type(2) button {
  --color-eggspots: var(--color-yellow);
}
  
ol li:nth-of-type(3) button {
  --color-eggspots: var(--color-pink);
}

ol li:nth-of-type(4) button {
  --color-eggspots: var(--color-lightblue);
}

ol li:nth-of-type(5) button {
  --color-eggspots: var(--color-orange);
}

ol li:nth-of-type(6) button {
  --color-eggspots: var(--color-red);
}

ol li:nth-of-type(7) button {
  --color-eggspots: var(--color-black);
}

ol li:nth-of-type(8) button {
  --color-eggspots: var(--color-blue);
}

ol li:nth-of-type(9) button {
  --color-eggspots: var(--color-brown);
}

ol li:nth-of-type(10) button {
  --color-eggspots: var(--color-purple);
}

ol li button img {
  width: 7em;
  height: auto;  
  z-index: -1;
  padding-bottom: 2em;
}

ol li button:before,
ol li button:after {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;

  margin: 0;
  height: 13em;
  aspect-ratio: 1/1;

  transform: rotate(-45deg);

  background-color: var(--color-egg);
  border-radius: 80% 20% 50% 50% / 50% 20% 80% 50%;
  box-shadow: 
    inset 1em 2em 1em var(--color-egg-shadow),
    inset -1em -3em 1em var(--color-egg-highlight),
    inset -.5em -.5em 1em var(--color-egg-highlight);


  background-image:
		radial-gradient(closest-side circle, var(--color-eggspots) 100%, transparent),
    radial-gradient(closest-side circle,var(--color-eggspots) 100%, transparent),
		radial-gradient(closest-side circle,var(--color-eggspots) 100%, transparent);
	background-size: 50% 50%, 40% 40%, 60% 60%;
	background-position: -40% 20%, 110% -30%, 90% 100%;
	background-repeat: no-repeat;

  transition: .5s;
}

/* Created clip-paths with Clippy: https://bennettfeely.com/clippy/*/
ol li button:before {
  clip-path: polygon(100% 0, 100% 100%, 88% 84%, 76% 58%, 52% 52%, 35% 21%, 20% 18%, 0 0);
  /* Remove gap */
  transform: rotate(-45deg) translateY(.08em);
}

ol li button:after {
  clip-path: polygon(0 100%, 100% 100%, 88% 84%, 76% 58%, 52% 52%, 35% 21%, 20% 18%, 0 0);
}

ol li button:hover:before,
ol li button:focus:before {
  transform: translate(-1em, -4em) rotate(-60deg);
  transition: .5s;
}

main > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

article {
  position: absolute;
  right: 0;
  top: 0;

  transform: translateX(100%);
  transition: .5s;

  width: 36em;
  height: 100vh; 
  background-color: rgb(149 240 149 / .8);

  padding: 8em;

  border-radius: 100% 0 0 100%;
}

/* Class added by JS */
ul li article.visible {
  transform: translateX(0);
}


/* Media query min-width 426px (mobile) */
@media only screen and (min-width: 426px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  header {
    padding-bottom: 3em;
  }
  
  header section h2 {
    font-size: 1.8em;
  }
  
  header section button {
    font-size: 1.8em;
    width: 2em;
  }

  header h1 {
    font-size: 3em;
  }

  h1 {
    padding-bottom: 0;
    }

  ol {
    top: 20vmin;
    /* transform: scale(1); */
  }
}
